
app/flutter/.idea/workspace.xml
.vscode/launch.json
app/flutter/.idea/codeStyles/Project.xml
app/flutter/.idea/libraries/Dart_Packages.xml
app/flutter/.idea/flutter.iml
app/flutter/.idea/libraries/Dart_SDK.xml
app/flutter/.idea/modules.xml
app/flutter/.idea/vcs.xml
