<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>get_pops_list</servlet-name>
  	<display-name>get_pops_list</display-name>
  	<description></description>
  	<servlet-class>get_pops_list</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>submit_form</servlet-name>
  	<display-name>submit_form</display-name>
  	<description></description>
  	<servlet-class>submit_form</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>beaconTest</servlet-name>
  	<display-name>beaconTest</display-name>
  	<description></description>
  	<servlet-class>beaconTest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get_staff_list</servlet-name>
  	<display-name>get_staff_list</display-name>
  	<description></description>
  	<servlet-class>get_staff_list</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getRecordData</servlet-name>
  	<display-name>getRecordData</display-name>
  	<description></description>
  	<servlet-class>getRecordData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>file_upload</servlet-name>
  	<display-name>file_upload</display-name>
  	<description></description>
  	<servlet-class>file_upload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get_student_list</servlet-name>
  	<display-name>get_student_list</display-name>
  	<description></description>
  	<servlet-class>get_student_list</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get_tags_list</servlet-name>
  	<display-name>get_tags_list</display-name>
  	<description></description>
  	<servlet-class>get_tags_list</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>add_student</servlet-name>
  	<display-name>add_student</display-name>
  	<description></description>
  	<servlet-class>add_student</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>get_pops_list</servlet-name>
  	<url-pattern>/get_pops_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>submit_form</servlet-name>
  	<url-pattern>/submit_form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>beaconTest</servlet-name>
  	<url-pattern>/beaconTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>get_staff_list</servlet-name>
  	<url-pattern>/get_staff_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getRecordData</servlet-name>
  	<url-pattern>/getRecordData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>file_upload</servlet-name>
  	<url-pattern>/file_upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>get_student_list</servlet-name>
  	<url-pattern>/get_student_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>get_tags_list</servlet-name>
  	<url-pattern>/get_tags_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>add_student</servlet-name>
  	<url-pattern>/add_student</url-pattern>
  </servlet-mapping>
</web-app>
